body {
  background-color: rgb(5, 31, 103);
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 1.5rem 1.5rem 0 1.5rem;
  color: white;
  background-color: rgb(5, 31, 103);
  width: 100%;
}

h1 {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
}

.nav-div {
  display: flex;
  gap: 1.4rem;
  margin-left: 35%;
}

a {
  padding: 0.1rem 0.2rem;
}

a:hover {
  background-color: white;
  color: rgb(29, 6, 91);
  border-radius: 5px;
}

button {
  color: white;
  background-color: rgb(247, 126, 12);
  font-weight: bold;
  border-radius: 2.5px;
  padding: 0.5rem 1rem;
}

button:hover {
  color: rgb(247, 126, 12);
  background-color: white;
  border: 0.5px solid rgb(247, 126, 12);
}

.header-div {
  margin-top: 5rem;
  display: flex;
  aspect-ratio: 2.5 / 1;
}

.header-inner-left {
  width: 40%;
  position: relative;
}

.header-inner-right {
  width: 60%;
  padding: 2rem;
  margin-left: 2.5rem;
}

.header-inner-right .big-text {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 2rem;
}

.header-inner-right .small-text {
  font-weight: lighter;
  color: rgb(202, 200, 200);
  opacity: 0.5;
}

.header-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 8px;
  height: 5rem;
  width: 70%;
  margin-top: 2rem;
}

.header-form input {
  border-radius: inherit;
  padding: 1rem;
}

select {
  border: none;
}

label,
svg {
  cursor: pointer;
}

.header-form label,
span,
svg,
select,
input {
  color: rgb(90, 88, 88);
}

.header-form button {
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
}

.header-div img {
  width: 60%;
  border: 1px solid white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.section-one {
  display: flex;
  background-color: white;
  aspect-ratio: 2.5 / 1;
}

.sec1-div1,
.sec1-div2 {
  width: 50%;
}

.sec1-div1 {
  display: flex;
  justify-content: flex-end;
}

.section-one img {
  height: 70%;
  margin-top: 5rem;
}

.sec1-div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem;
}

.sec1-div2 .big-text {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2rem;
}

.sec1-div2 .small-text {
  font-weight: lighter;
  opacity: 0.9;
}

.sec1-div2 button {
  margin-top: 2rem;
  width: 8.5rem;
  height: 2.5rem;
  border-radius: 5px;
}

.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #efefef;
  padding: 5rem;
}

.section-two .big-text {
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.section-two .small-text {
  font-weight: lighter;
  opacity: 0.9;
}

.section-two button {
  width: 8.5rem;
  height: 2.5rem;
  border-radius: 5px;
}

.courses-div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1.5rem;
}

.course-div {
  display: flex;
  flex-direction: column;
  height: 30rem;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  cursor: pointer;
}

.upper {
  height: 60%;
  width: 100%;
  background-color: #ddd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lower {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 40%;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0.8rem;
}

.orange {
  color: rgb(247, 126, 12);
  font-weight: bold;
  font-size: 1.2em;
}

.discount {
  text-decoration: line-through;
  color: gray;
  font-size: 0.8em;
}

.description {
  font-weight: bold;
  font-size: 1.2em;
}

.reviews {
  color: gray;
  opacity: 0.8;
  margin-left: 1rem;
}

.reviews:hover {
  text-decoration: underline;
}

.fee {
  margin-left: 0.5rem;
}
